#app {
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.navbar-header .container-fluid .collapse ul li a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(118, 118, 118);
  padding: 0;
  padding-left: 10px;
}

.nav-sec {
  border-top: 2px solid #2e94e3;
  border-radius: 2px;
}

.nav-sec .container-fluid .collapse ul li a {
  transition: 0.5s;
  padding: 0px 10px 0 10px;
}

.nav-sec .container-fluid .collapse ul li a:hover {
  background-color: #6fb7ee;
}

.navbar-header .container-fluid .collapse ul li .KEC {
  font-size: 15px;
}

.strk-organisasi {
  color: #6fb7ee;
  margin: 10px 0 10px 0;
  border-left: 5px solid #2e94e3;
}

/* Style side bar website */

.datetime {
  color: #fff;
  background: #10101e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  padding: 15px 10px;
  border: 3px solid #2e94e3;
  border-radius: 5px;
  transition: 0.5s;
}

.datetime:hover {
  background: #2e94e3;
}

.date {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  background: #2e94e3;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}

.kategori {
  margin-top: 10px;
}

.kategori .kategori-title {
  padding-bottom: 10px;
  border-bottom: 2px solid #2e94e3;
}

.kategori a {
  text-decoration: none;
  color: gray;
}

.statistik {
  margin-top: 15px;
}

.statistik .statistik-title {
  padding-bottom: 10px;
  border-bottom: 2px solid #2e94e3;
}

.profile {
  margin-top: 15px;
}

.profile .profile-desa {
  padding-bottom: 10px;
  border-bottom: 2px solid #2e94e3;
}

.profile .table {
  margin-top: 15px;
}
